body{
  background: #ffffff;
}

#header{
  background: #993333;
  color: #ffffff;
}

.container {
    text-align: center;
}

.url-input{
  margin: auto;
  margin-bottom: 10px;
}

.url-form{
  padding: 25px;
  padding-top: 10em;
}

.flex-group{
  display: flex;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 70px;
}

.flex-item{
  flex: inline;
  margin-right: 10px;
}
